@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --themed-default-foreground: rgb(var(--foreground-rgb));
  --themed-default-background: rgb(var(--background-rgb));

  --themed-inverted-foreground: rgb(var(--background-rgb));
  --themed-inverted-background: rgb(var(--foreground-rgb));

  --themed-discrete-foreground: rgb(33, 33, 33);
  --themed-discrete-background: rgb(244, 244, 244);
  /* Filter for svg */
  --filter-light: invert(0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;

    --themed-discrete-foreground: rgb(200, 200, 200);
    --themed-discrete-background: rgb(24, 24, 24);

    /* Filter for svg */
    --filter-dark: invert(100%);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgb));
  min-height: 100vh;
}

/* Base button styles */
.btn {
  @apply text-btn leading-btn tracking-btn text-left;
}

/* Solid green button */
.btn-green {
  @apply bg-btn-green text-white border-btn-green;
}

/* Transparent green button */
.btn-green-transparent {
  @apply text-btn-green bg-transparent border-btn-green;
}

/* Solid white button */
.btn-white {
  @apply bg-btn-white text-btn-black border-btn-white;
}

/* Transparent white button */
.btn-white-transparent {
  @apply text-btn-white bg-transparent border-btn-white;
}

/* Solid black button */
.btn-black {
  @apply bg-btn-black text-white border-btn-black;
}

/* Transparent black button */
.btn-black-transparent {
  @apply text-btn-black bg-transparent border-btn-black;
}

.theme-block-default {
  color: var(--themed-default-foreground);
  background: var(--themed-default-background);
}

.theme-block-inverted {
  color: var(--themed-inverted-foreground);
  background: var(--themed-inverted-background);
}

.theme-block-discrete {
  color: var(--themed-discrete-foreground);
  background: var(--themed-discrete-background);
}

/* Filter to elements with the .custom-filter class */
.custom-filter {
  filter: var(--filter-light); /* light mode filter by default */
}

/* Dark mode filter to specific elements with .custom-filter-dark class */
@media (prefers-color-scheme: dark) {
  .custom-filter {
    filter: var(--filter-dark);
  }
}

.custom-svg {
  width: 100%;
  height: auto;
}

.z-app-header {
  z-index: 90;
}
