@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --opacity-20-rgb: 255, 255, 255, 0.2;
  --opacity-40-rgb: 255, 255, 255, 0.4;
  --opacity-10-dark-rgb: 0, 0, 0, 0.1;
  --opacity-20-dark-rgb: 0, 0, 0, 0.2;

  --green-hover-rgb: 47, 171, 9, 0.2;
  --primary-color: var(--color-primary-650);
  --primary-hover-color: var(--color-primary-500);
  --primary-active-color: var(--color-primary-650);
  --primary-transparent-hover: var(--color-primary-700);
  --primary-transparent-active: var(--color-primary-500);

  --white-active-bg-color: var(--color-secondary-100);
  --black-active-solid-color: var(--color-secondary-800);

  --themed-discrete-foreground-rgb: 33, 33, 33;
  --themed-discrete-background-rgb: 244, 244, 244;

  --themed-default-foreground: rgb(var(--foreground-rgb));
  --themed-default-background: rgb(var(--background-rgb));

  --themed-inverted-foreground: rgb(var(--background-rgb));
  --themed-inverted-background: rgb(var(--foreground-rgb));

  --themed-primary-foreground: var(--themed-default-background);
  --themed-primary-background: var(--primary-color);

  --themed-discrete-foreground: rgb(var(--themed-discrete-foreground-rgb));
  --themed-discrete-background: rgb(var(--themed-discrete-background-rgb));
  /* Filter for svg */
  --filter-light: invert(0%);
}

@theme {
  --color-black: #1c1c1c;
  --color-white: FFFFFF;
  --color-primary: #75bc5c; /* Logo Green === 400 */
  --color-primary-50: #f5faf3;
  --color-primary-100: #e8f6e2;
  --color-primary-200: #d1ebc7;
  --color-primary-300: #abda9b;
  --color-primary-400: #75bc5c;
  --color-primary-500: #5ba542;
  --color-primary-600: #488732;
  --color-primary-650: #47812c;
  --color-primary-700: #3b6b2a;
  --color-primary-800: #315526;
  --color-primary-900: #284720;
  --color-secondary-50: #ffffff;
  --color-secondary-100: #f5f5f5;
  --color-secondary-200: #e0e0e0;
  --color-secondary-300: #bdbdbd;
  --color-secondary-400: #9e9e9e;
  --color-secondary-500: #7e7e7e;
  --color-secondary-600: #616161;
  --color-secondary-700: #424242;
  --color-secondary-800: #2c2c2c;
  --color-secondary-900: #121212;
  --color-error: #ff0000;
  --color-transparent: transparent;
  --color-btn-green: #2fab09;
  --color-btn-white: #ffffff;
  --color-btn-black: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --themed-discrete-foreground-rgb: 170, 170, 170;
    --themed-discrete-background-rgb: 24, 24, 24;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgb));
  min-height: 100vh;
}
.theme-block-default {
  color: var(--themed-default-foreground);
  background: var(--themed-default-background);
}

.theme-block-inverted {
  color: var(--themed-inverted-foreground);
  background: var(--themed-inverted-background);
}

.theme-block-discrete {
  color: var(--themed-discrete-foreground);
  background: var(--themed-discrete-background);
}

.bg-default {
  background: var(--themed-default-background);
}
.bg-default-opacity {
  background: rgba(var(--background-rgb), var(--tw-bg-opacity));
}
.bg-inverted {
  background: var(--themed-inverted-background);
}
.bg-inverted-opacity {
  background: rgba(var(--foreground-rgb), var(--tw-bg-opacity));
}
.bg-discrete {
  background: var(--themed-discrete-background);
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

/* Filter to elements with the .custom-filter class */
.custom-filter {
  filter: var(--filter-light); /* light mode filter by default */
}

/* Dark mode filter to specific elements with .custom-filter-dark class */
@media (prefers-color-scheme: dark) {
  .custom-filter {
    filter: var(--filter-dark);
  }
}

.custom-svg {
  width: 100%;
  height: auto;
}

.map-svg {
  width: 100%;
  height: 100vh;
}
.z-app-header {
  z-index: 90;
}

.slick-dots li button:before {
  color: var(--themed-inverted-background) !important;
  font-size: 20px !important;
}

input:focus,
a:focus,
button:focus,
textarea:focus {
  outline-width: 2px;
  outline-color: theme('colors.primary.500');
  outline-style: solid;
}
