.root {
  --bg-color: theme('colors.primary.100');
}
@media (prefers-color-scheme: dark) {
  .root {
    --bg-color: theme('colors.primary.900');
  }
}
.background {
  background-color: var(--bg-color);
}
